html, body {
	padding: 0;
	margin: 0;
	}

body {
	color: #000;
	background-color: #fff;
	}

div {
	padding: 0;
	margin: 0;
	}

dl {
	font: 11px/16px verdana, geneva, arial, helvetica, sans-serif;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: palatino, georgia, serif;
	font-weight: normal;
	line-height: 1.5em;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	}

h1	{
	font-size: 24px;
	}
	
h2	{
	font-size: 18px;
	}
	
h3	{
	font-size: 16px;
	}
	
h4	{
	font-size: 14px;
	}
	
h5	{
	font-size: 12px;
	}
	
h6	{
	font-size: 11px;
	}

img {
	padding: 0;
	border: 0 none;
	margin: 0;
	}

p {
	font: 11px/1.5em verdana, geneva, arial, helvetica, sans-serif;
	color: #000;
	background-color: transparent;
	padding: 0;
	margin: .5em 0 0 0;
	}

a {
	font: bold 11px/16px verdana, geneva, arial, helvetica, sans-serif;
	color: #69c;
	background: transparent;
	text-decoration: none;
	}

a:link {
	color: #69c;
	background:
	ransparent;
	}

a:visited {
	color: #69c;
	background: transparent;
	}
a:hover {
	color: #000099;
	background: transparent;
	text-decoration: none;
	}
a:active {
	color: #69c;
	background:
	transparent;
	text-decoration: none;}

/* header content section ---------- */

#header {
	color: #000;
	background-color: #000099;
	padding: 0 15px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333;
	}

#header h1 {
	letter-spacing: 0.1em;
	color: #fff;
	background-color: transparent;
	}

#header img {
	align:right;
	top:5px;
	right:5px;
	position:absolute;
	}

#header ul li {
	display:inline;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#header ul {
	display:inline;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#header ul li a {
	padding: 3px 3px 3px 3px;
	text-decoration: none;
}

#header ul li a:hover {
	color: #ffffff;
}

/* content section ---------- */

#content-wrap {
	padding: 15px 15px 0 15px;
	margin-bottom: 15px;
}

/* --- left column ---------- */

#content-sub-1 {
	float: left;
	width: 200px;
	text-align: left;
	padding-right: 5px;
	background-color: #ffffff;
	}

#content-wrap > #content-sub-1 {
	width: 190px;
	}

#content-sub-1 ul {
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 5px;
	list-style-type: square;
}

#content-sub-1 ul.plain {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	list-style-type:none;
}

#content-sub-1 ul.plain ul {
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 5px;
	list-style-type:none;
}


/* --- right column ---------- */

#content-sub-2 {
	float: right;
	width: 200px;
	text-align: left;
	padding-left: 5px;
	background-color: #fff;
	}

#content-wrap > #content-sub-2 {
	width: 190px;
	}

#content-sub-2 ul {
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 5px;
	list-style-type: square;
}

#content-sub-2 ul.plain {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	list-style-type:none;
}


/* --- center column  (main content)---------- */

#content-main {
	margin: 0 185px;
	text-align: justify;
	background-color: #fff;
	padding: 0px 5px 0px 5px;
}


#content-main h2 {
	font-size: 22px;
	letter-spacing: 0.1em;
	}

#content-main p {
	text-indent: 1.5em;
	}

#content-main .first {
	text-indent: 0;
	}

#content-main .first:first-letter {
	float: left;
	font: 36px palatino, georgia, serif;
	padding-right: 5px;
	}

#content-main span.versenum {
	vertical-align:text-top;
	font-size: x-small;
	margin: 0px 3px 0px 10px;
	font-weight: bold;
}

#content-main .verse {
	margin: 0px 0px 5px 0px;
	padding: 0px 5px 0px 5px;
	vertical-align:text-top;
}

#content-main .currentverse {
	vertical-align:text-top;
	margin: 0px 0px 5px 0px;
	background-color: #eeeeee;
	border: 1px dotted #dddddd;
	padding: 0px 5px 0px 5px;
}

#content-main p.textname {
	margin: 0px 0px 5px 0px;
}

#content-main *[dir=rtl] {
	font-family:code2000,code2001,arial unicode ms,arial,sans serif,serif;
	font-size:larger;
}


/* --- parallel display stuff---------- */

#paralleldisplay {
	width:100%;
}

#paralleldisplay tr th {
	font-weight:bold;
	font-size:small;
}

#paralleldisplay td {

}

#paralleldisplay tr {

}

/* footer section ---------- */

#footer {
	clear: both;
	color: #000;
	background-color: #eee;
	padding: 5px 15px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #333;
	margin-top: 15px;
	}

#footer p {
	padding: 0;
	margin: 0;
	}


/* blue panel */
.bluepanel {
	background-color: #eeeeee;
	border:1px solid #dddddd;
	padding:0px 5px 0px 5px;
	text-align:left;
}

.bluepanel input.textinput{
	border:1px solid #555555;
	width:100px;
}

.bluepanel input.searchbutton {
	border: 2px solid #eeeeee;
	color:#ffffff;
	background-color:#000099;
}

.bluepanel input.searchbutton:hover{
	border: 2px inset #eeeeee;
	color:#ffffff;
	background-color:#000099;
}

.bluepanel fieldset{
	border: 0;
	padding: 0;
	margin: 0;
}
/* ----------------*/

.quicksearch {
	background-color: #eeeeee;
	border: 1px dotted #dddddd;
	padding: 0px 5px 0px 5px;
	text-align: center;
}

.quicksearch input.textinput{
	border-style: solid;
	border: 1px solid #555555;
	width:100px;
}

.quicksearch input.searchbutton{
	border: 2px outset #eeeeee;
	color:#ffffff;
	background-color:#000099;
}

.quicksearch input.searchbutton:hover{
	border: 2px inset #eeeeee;
	color:#ffffff;
	background-color:#000099;
}

.quicksearch fieldset{
	border: 0;
	padding: 0;
	margin: 0;
}


ul.library {
}

ul.library li {
	font-size:small;
}
ul.library ul  {

}
ul.library ul li {
	font-size:x-small;
}



ul.booknav {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	background-color: #eeeeee;
}

ul.booknav li{
	padding: 3px 3px 3px 3px;
	margin: 0px 0px 0px 0px;
	list-style-type: none;
	display: inline;
}

ul.searchresultsnav {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 10px 0px;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	background-color: #eeeeee;
}

ul.searchresultsnav li{
	padding: 3px 3px 3px 3px;
	margin: 0px 0px 0px 0px;
	list-style-type: none;
	display: inline;
}

form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.word-layer {
     visibility: hidden;
     position:absolute;
     left:50px;
     top:50px;
     width:200px;
     background-color: #fff3cf;
     margin-left : 0;
     overflow: visible;
     z-index:6;
     border: 1px #000000;
     border-style: solid;
     padding: 7px 7px 7px 7px;
     color : #000000;
     font-size : x-small;
     font-style : normal;
     font-weight : normal;
     font-variant : normal;
     word-spacing : normal;
     letter-spacing : normal;
     vertical-align : baseline;
     text-transform : none;
     text-align : left;
     text-indent : 0;
     line-height : normal;
}
