body{
  color: #000000;
  background-color: #ffffff;
  margin: 0px 0px 0px 0px;
  font-size: 76%;
}

a:link { color: #8A0010; }
     
a:visited { color: #8A0010; }

/* Mast Head */

#header{
/*background-image: url(images/OSIS1.jpg);*/
background-position: right top;
background-repeat: no-repeat;
padding: 0px 15px 0px 15px;
font-family: "Trebuchet MS", verdana, lucida, arial, helvetica, sans-serif;
}

#header h1 {
font-family: georgia, palatino, Times New Roman, Times, Serif;
font-weight: normal;
font-size: 2.0em;
line-height: 2.5em;
text-transform: uppercase;
padding: 0;
margin: 0px 0px 0px 0px;
}

/* Main Navigation */

#navlist {
padding: 0px 0px 0px 0px;
margin: 0px 15px 0px 15px;
text-align: center;
}

#navlist ul {
  border-bottom: 2px solid #7F673C;
  border-top: 2px solid #7F673C;
  margin: 0px 12px 0px 12px;
  padding: 8px 15px 6px 15px;
  text-align: center;
}

#navlist li {
  display: inline;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#navlist a:link, #navlist a:visited {
color: #000;
font-family: Georgia, Times New Roman, Times, Serif;
text-transform: uppercase;
font-size: 1.2em;
font-weight: normal;
line-height: 1.0em;
padding: 2px 15px 0px 12px;
text-decoration: none;
font-weight: bold;
}

#navlist a:link#current, #navlist a:visited#current {
color: #A13033;

  background-image: url("images/parchment/blt_001.gif");
  background-repeat: no-repeat;
  background-position: left;
  padding: 2px 12px 0px 15px;
}

#navlist a:hover { 
color: #A13033;
background : #FFFFCC
}

#navlist li#skip {display:none;}

/* General - Site wide style */

h2 {
  margin: 12px 0px 3px 0px;
  padding: 5px 0em 3px .5em;
  font-family: "Trebuchet MS", verdana, lucida, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: #A13033;
}

h3{
  margin: 12px 0px 3px 0px;
  padding: 5px 0em 3px .5em;
  font-family: "Trebuchet MS", verdana, lucida, arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.0em;
}


/* Layout */

#content-wrap{
margin: 5px 0px 0px 0px;
padding: 0px 20px 0px 20px;

clear:left;
}

#content-sub-1{
width:12em;
float:left;
margin: 0px 0em 0px 0px;
padding: 0px 0.5em 20px 0px;
border-right: 2px solid #7F673C;
}

#content-sub-2{
width:14em;
float:right;
margin: 0px 0px 0px 0px;
padding: 0px 0 20px 1em;
border-left: 2px solid #7F673C;
}

#content-main {
margin: 0px 0px 0px 0px;
padding: 15px 15px 20px 15px;
width:auto;
font-family: "Trebuchet MS", verdana, lucida, arial, helvetica, sans-serif;
}


#footer{
clear:both;
margin: 0px 0px 0px 0px;
text-align: center;
}

#footer img {
border:0;
margin: 0px 20px 0px 20px;
}


/* ****** Individual Sections ****** */

/* Quick Search */

#quicksearch {
padding: 0px 0px 0px 0px;
}

#quicksearch form{
margin: 0px 0px 1em 0px;
padding: 0px 0px 0px 0px;
}

#quicksearch form fieldset{
border: 1px solid #7F673C;
padding: 3px;
}

/* External Links */

#externallinks{
padding: 0 1px 1px;
margin-left: 0;
}

#externallinks ul{
background: #C3AB7F;
}

#externallinks li{
list-style: none;
margin: 0;
border-top: 1px solid #222;
text-align: left;
border-bottom: 1px solid #81693F;
}

#externallinks li a{
display: block;
padding: 0.25em 0.5em 0.25em 0.75em;
border-left: .5em solid #222;
background: #C3AB7F;
text-decoration: none;
}

#externallinks ul {text-indent: 0em;
padding: 0px;
margin: 0px}

#externallinks li a:link { color: #000; }
#externallinks li a:visited { color: #000; }

#externallinks li a:hover {
border-color: #81693F;
color: #8A0010;
background : #FFFFCC
}


/* OSIS Library */

#library ul, #library li {list-style-type: none;}

#library ul {text-indent: 0em;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;}

#library ul ul {
text-indent: 0em;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 10px;
}

#library li{
margin: 3px 0px 0px 10px;
background-image: url(images/arrow.png);
background-repeat: no-repeat;
border-bottom: 1px solid white;
}

#library li.closed {
background-image: url(images/sandy_plus.png);
background-repeat: no-repeat;
}

#library li.open {
background-image: url(images/sandy_minus.png);
background-repeat: no-repeat;
}

#library li a {
display:block;
padding: 0px 0px 0px 15px;
text-decoration: none;
color:#000}

#library li a:hover {
text-decoration: underline;
color:#8A0010;
}


/*   Translations   */

#translations {
margin: 0px -0.5em 0px 0px;
padding: 0px 0 0px 0px;
}

#translations ul, #translations li {
list-style-type: none;
}


#translations ul {
background: #C3AB7F;
text-indent: 0em;
padding: 0px;
margin: 0px 0px 10px 0px;
}

#translations li{
list-style: none;
margin: 0;
border-top: 1px solid #222;
text-align: left;
border-bottom: 1px solid #81693F;
}

#translations li a{
display: block;
padding: 0.25em 0.5em 0.25em 0.75em;
background: #C3AB7F;
text-decoration: none;
}

#translations li a:link { color: #000; }
#translations li a:visited { color: #000; }

#translations li a:hover{
border-color: #81693F;
color: #8A0010;
background : #FFFFCC;
}

#translations h3 {
background: #A1895F;
margin: 0px 0px 0px 0px;
padding: 2px 0.5em 2px 0.5em;
text-align: center;
border-top: 2px solid #222;

}

#translations p {
background: #A1895F;
margin: 0px 0px 0px 0px;
padding: 2px 0.5em 2px 0.5em;
text-align: center;
font-style: italic;
}

#translations p a:link { color: #000; }
#translations p a:visited { color: #000; }

#translations hr {display:none;}

/*   Devotionals   */

#devotionals {
margin: 0px -0.5em 0px 0px;
padding: 0px 0 0px 0px;
}

#devotionals ul, #devotionals li {
list-style-type: none;
}


#devotionals ul {
background: #C3AB7F;
text-indent: 0em;
padding: 0px;
margin: 0px 0px 0px 0px;
}

#devotionals li{
list-style: none;
margin: 0;
border-top: 1px solid #222;
text-align: left;
border-bottom: 1px solid #81693F;
}

#devotionals li a{
display: block;
padding: 0.25em 0.5em 0.25em 0.75em;
background: #C3AB7F;
text-decoration: none;
}

#devotionals li a:link { color: #000; }
#externallinks li a:visited { color: #000; }

#devotionals li a:hover{
border-color: #81693F;
color: #8A0010;
background: #FFFFCC;
}

#devotionals h3 {
background: #A1895F;
margin: 0px 0px 0px 0px;
padding: 2px 0.5em 2px 0.5em;
text-align: center;
border-top: 2px solid #222;
}

#devotionals p {
background: #A1895F;
margin: 0px 0px 0px 0px;
padding: 2px 0.5em 2px 0.5em;
text-align: center;
font-style: italic;
}

/*   Study Tools  */

#studytools {
margin: 0px 0px 0px -1em;
padding: 0px 0px 0px 0px;
}

#studytools ul, #studytools li {
list-style-type: none;
}

#studytools ul {
background: #C3AB7F;
text-indent: 0em;
padding: 0px;
margin: 0px 0px 10px 0px;
}

#studytools li{
list-style: none;
margin: 0;
border-top: 1px solid #222;
text-align: left;
border-bottom: 1px solid #81693F;
}

#studytools li a{
display: block;
padding: 0.25em 0.5em 0.25em 0.75em;
background: #C3AB7F;
text-decoration: none;
}

#studytools li a:link { color: #000; }
#studytools li a:visited { color: #000; }

#studytools li a:hover{
border-color: #81693F;
color: #8A0010;
background: #FFFFCC;
}

#studytools h3 {
background: #A1895F;
margin: 0px 0px 0px 0px;
padding: 2px 0.5em 2px 0.5em;
text-align: center;
border-top: 2px solid #222;
}

#studytools p {
background: #A1895F;
margin: 0px 0px 0px 0px;
padding: 2px 0.5em 2px 0.5em;
text-align: center;
font-style: italic;
}



/*   Commentaries  */

#commentaries {
margin: 0px 0px 0px -1em;
padding: 0px 0px 0px 0px;
}

#commentaries ul, #commentaries li {
list-style-type: none;
}

#commentaries ul {
background: #C3AB7F;
text-indent: 0em;
padding: 0px;
margin: 0px 0px 10px 0px;

}

#commentaries li{
list-style: none;
margin: 0;
border-top: 1px solid #222;
text-align: left;
border-bottom: 1px solid #81693F;
}

#commentaries li a{
display: block;
padding: 0.25em 0.5em 0.25em 0.75em;
background: #C3AB7F;
text-decoration: none;
}

#commentaries li a:link { color: #000; }
#commentaries li a:visited { color: #000; }

#commentaries li a:hover{
border-color: #81693F;
color: #8A0010;
background: #FFFFCC;
}

#commentaries h3 {
background: #A1895F;
margin: 0px 0px 0px 0px;
padding: 2px 0.5em 2px 0.5em;
text-align: center;
border-top: 2px solid #222;
}

#commentaries p {
background: #A1895F;
margin: 0px 0px 0px 0px;
padding: 2px 0.5em 2px 0.5em;
text-align: center;
font-style: italic;
}

#commentaries p a:link { color: #000; }
#commentaries p a:visited { color: #000; }

#commentaries hr {display:none;}


#welcome, #about, #help, #preferences, #powersearch, #daily, #genbook   {
margin: 0px 14em 0px 11.5em;
padding: 0px .5em 0px .5em;
}

#genbook h2 {
margin: 0px 0px 0px 0px;
padding: 2px 0.0em 2px 0.0em;
}

#bluepanel p a:link { color: #000; }
#bluepanel p a:visited { color: #000; }

#welcome h2 {
  background-image: url(images/parchment/blt_002.gif);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0px 0px 0px 25px;
}
#welcome p a:link { color: #000; }
#welcome p a:visited { color: #000; }
#welcome p {
margin: 5px 0px 0px 25px;
}

/*   Search Results   */

#searchresults {
margin: 0px 14em 0px 11.5em;
padding: 0 0 0px 0;
}

#searchresults dt {
margin: 0px 0px 0px 0px;
padding: 0px 2px 0px 2px;
background: #eee;
border-top: 1px solid #222;
font-size: 1em;
line-height: 1.8em;
}

#searchresults dt span {
float: right;
margin: -1.8em 0 0 0;
font-style: italic;
}

#searchresults dd {
background: #E1C99F;
margin: 0px 0px 0px 0px;
padding: 2px 5px 5px 3em;
}

#searchresults dt a {
text-decoration: none;
display:block;
color:#000;
font-size:1.1em;
}

#searchresults dt a:hover {
text-decoration: none;
background-color: #FFFFCC;
color:#8A0010;
text-decoration: underline;
}


#searchresults ul {
background: #eee;
border-top: 1px solid #222;
border-bottom: 1px solid #222;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
text-indent: 0px;
}

#searchresults ul li {
display: inline;
list-style-type: none;
line-height: 2em;
font-size: 1em;
margin: 0px 1.1em 0px 0px;
}

#searchresults ul li a {
color:#000;
}

#searchresults ul li a:hover {
color:#8A0010;
}


/* Passage Study */

#passagestudy{
line-height: 1.5em;
margin: 0px 14em 0px 11.5em;
padding: 0 0 0px 0;
font-size: 1.0em;
}

#passagestudy div{
	padding: 0px .5em 0px .5em;
}

 span.versenum{
	font-size: 1.1em;
	padding: 0px 3px 0px 10px;
	font-weight: bold;

}

 span.versenum a {
	text-decoration: none;
     color: #8A0010;
}

 span.versenum a:hover {
	text-decoration: underline;
	color:#8A0010;
}

div.currentverse {
	background: #C1A97F;
}

#passagestudy  ul {
background: #eee;
border-top: 1px solid #222;
border-bottom: 1px solid #222;
margin: 0px 0px 5px 0px;
padding: 0px 0px 0px 1em;
text-indent: 0px;
}

#passagestudy  ul li {
display: inline;
list-style-type: none;
line-height: 2em;
font-size: 1em;
margin: 0px 1.1em 0px 0px;
}

#passagestudy ul li h3 {
display: inline;
list-style-type: none;
line-height: 2em;
font-size: 1.3em;
margin: 0px 1.1em 0px 0px;
}


#passagestudy  ul li a {
color:#000;
}

#passagestudy  ul li a:hover {
color:#8A0010;
}

/* Parallel Display */

#paralleldisplay {
font-size: 1em;
line-height: 1.4em;
margin: 0px 14em 0px 11.5em;
padding: 0 0 0px 0;
}

#paralleldisplay p {
padding: 0px .5em 0px .5em;
}


#paralleldisplay  ul {
background: #eee;
border-top: 1px solid #222;
border-bottom: 1px solid #222;
margin: 0px 0px 5px 0px;
padding: 0px 0px 0px 1em;
text-indent: 0px;
}

#paralleldisplay  ul li {
display: inline;
list-style-type: none;
line-height: 2em;
font-size: 1em;
margin: 0px 1.1em 0px 0px;
}

#paralleldisplay  ul li h3 {
display: inline;
list-style-type: none;
line-height: 2em;
font-size: 1.3em;
margin: 0px 1.1em 0px 0px;
}

#paralleldisplay  ul li a {
color:#000;
}

#paralleldisplay  ul li a:hover {
color:#8A0010;
}

#paralleldisplay td {
 vertical-align: top;
}

#paralleldisplay td {
	padding: 0px .5em 0px .5em;
}

#paralleldisplay td.currentverse {
	background-color: #C1A97F;
}

/*   GenBook navigation tree  */
#genbooknav {
margin:0px 5px;
padding:0px 5px;
}

#genbooknav ul, #genbooknav li {
list-style-type: none;
}

#genbooknav ul {
text-indent:0em;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}

#genbooknav li {
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
border-bottom:1px solid white;
}

#genbooknav #current {
margin:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
border-bottom:1px solid white;
font-weight:bold;
}

#genbooknav ul ul {
text-indent:0em;
padding:0px;
margin:0px 0px 0px 15px;
}

#genbooknav li img {
border:0px;
}

#genbooknav li a {
text-decoration:none;
color:#000
}

#genbooknav li a:hover {
text-decoration:underline;
color:#8A0010;
}

.wordsOfJesus {
color: #bb0000;
}


#contentTray0{
  width: 100%;
  background-image: url("./images/parchment/page_bg.jpg");
}

#contentTray1{
  width: 100%;
  background-color: transparent;
  background-image: url("./images/parchment/page_bg_l.gif");
  background-repeat: repeat-y;
  background-position: top left;
}

#contentTray2{
  width: 100%;
  background-color: transparent;
  background-image: url("./images/parchment/page_bg_r.gif");
  background-repeat: repeat-y;
  background-position: top right;
}

#pageHeader {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 5px;
  text-align: center;
}

#pageIntro {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}



/*
#navBar{

}

#navBar ul, #navBar li{
  display: inline;
  color: #000000;
  font-size: 13pt;
  font-weight: bold;
}

#navBar a:link, #navBar a:visited{
  color: #000000;
  font-size: 13pt;
  font-weight: bold;
  text-decoration: none;
}

#navBar a:hover { 
  text-decoration: underline;
}
*/




#pageBorderTop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 16px;
  background-color: transparent;
  background-image: url("./images/parchment/page_bg_t.gif");
  background-repeat: repeat-x;
  background-position: top center;
}

#pageBorderBottom {
  width: 100%;
  height: 16px;
  background-color: transparent;
  background-image: url("./images/parchment/page_bg_b.gif");
  background-repeat: repeat-x;
  background-position: top center;
}

#pageBorderTop1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background-image: url("./images/parchment/page_bg_t_.gif");
  background-position: top center;
  vertical-align: bottom;
}

#pageBorderTop2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/parchment/page_bg_t_.gif");
  background-position: top center;
  vertical-align: bottom;
}



#pageBorderBottomTray {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/parchment/page_bg_t_.gif");
  background-position: top center;
  vertical-align: bottom;
}

#pageBorderBottom {
  position: relative static;
  width: 100%;
  height: 16px;
  background-image: url("./images/parchment/page_bg_b.gif");
  background-repeat: repeat-x;
  background-position: bottom center;
}



.txtMnuTray {
  width: 100%;
  text-align: center;
  display: list-item;
}

.txtMnu {
  color: #000000;
  font-size: 13pt;
  font-weight: bold;
}

#txtMnuBlt1 {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

#txtMnuBlt2 {
  vertical-align: middle;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

#txtMnuBlt3 {
  vertical-align: middle;
  display: inline;
  margin-left: 30px;
  margin-right: 13px;
}

#MnuLnk {
  vertical-align: middle;
  display: inline;
  color: #000000;
  font-size: 13pt;
  font-weight: bold;
}

#MnuLnk a:link, #MnuLnk a:visited{
  vertical-align: middle;
  color: #000000;
  font-size: 13pt;
  font-weight: bold;
  text-decoration: none;
}

.txtHdl {
  display: inline;
  color: #8A0010;
  font-size: 13pt;
  font-weight: bold;
}

.txtHdl a:link, .txtHdl a:visited {
  display: inline;
  color: #8A0010;
  font-size: 13pt;
  font-weight: bold;
  text-decoration: none;
}

.txtHdl a:hover {
  display: inline;
  color: #8A0010;
  font-size: 13pt;
  font-weight: bold;
  text-decoration: none;
}

.txtPlain {
  color: #000000;
  padding-top: 5px;
  padding-left: 56px;
  padding-right: 30px;
  padding-bottom: 15px;
  font-size: 11pt;
}

.txtSearch {
  color: #81693F;
  font-size: 13pt;
  font-weight: bold;
}


#hLineTray {
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

#hLine {
  width: 100%;
  height: 2px;
  left: auto;
  right: auto;
  background-color: #7F673C;
}


#header h1 {
  display: none;
}

#introflash {
  height: 170px;
  background-color: transparent;
  background-image: url("./images/parchment/img_001.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 2px solid #7F673C;
  margin: 0px 25px 0px 25px;
}

#header {
  height: 135px;
  margin: 9px 9px 14px 9px;
  background-color: transparent;
  background-image: url("./images/parchment/top_logo.gif");
  background-position: bottom center;
  background-repeat: no-repeat;
}


#about ul {
  margin: 12px 0px 2em 0px;
  padding: 5px 0em 3px 2em;
}

#about .q {
font-weight: bold;
font-style: italic;
}

#about h3 {
margin: 1em 0px .5em 0px;
padding: 0px 0px 0px 0px;
border-bottom: 1px solid #7F673C;
}

.copyLine {
  margin: 1em 0px .5em 0px;
  padding: 0px 0px 0px 0px;
  border-top: 1px solid #7F673C;
  font-weight: bold;
  font-style: italic;
}

.promoLine {
  margin: 1em 0px .5em 0px;
  padding: 10px 0px 0px 0px;
  font-weight: bold;
}

#aboutPromo {
  margin: 1em 0px .5em 0px;
  padding: 10px 0px 0px 0px;
  border-top: 1px solid #7F673C;
  font-weight: bold;
}

.word-layer {
     visibility: hidden;
     position:absolute;
     left:50px;
     top:50px;
     width:275px;
     background-color: #fff3cf;
     margin-left : 0;
     overflow: visible;
     z-index:6;
     border: 1px #000000;
     border-style: solid;
     padding: 7px 7px 7px 7px;
     color : #000000;
     font-size : x-small;
     font-style : normal;
     font-weight : normal;
     font-variant : normal;
     word-spacing : normal;
     letter-spacing : normal;
     vertical-align : baseline;
     text-transform : none;
     text-align : left;
     text-indent : 0;
     line-height : normal;
}

span.curWord {
	text-decoration: underline;
     font-weight : bold;
	background: #a1895F;
}
span.sameLemmaMorph {
	text-decoration: underline;
     font-weight : bold;
}
span.sameLemma {
     font-weight : bold;
}
