body {background-color: lightgrey;}

#header { position: relative;
top: 0pt;
left: 0pt;
margin:none;
visibility: visible;
clear: both;
padding:1em;
background-color:lightgrey;
}

#navlist { float: right;
	   width: 200px;
	   padding:1em;
	   unicode-bidi: embed;   
           direction: rtl;}

#printer { float: right;
	   width: 200px;
	   padding:1em;
	   clear:both;
           unicode-bidi: embed;   
           direction: rtl;}

#content-sub-1 { float: right;
		 width: 200px;
		 padding:1em;
		 clear:both;
		 unicode-bidi: embed;   
        	 direction: rtl;}

#content-sub-2 { float: right;
		 width: 200px;
		 padding:1em;
		 clear:both;
		 unicode-bidi: embed;   
        	 direction: rtl;}

#content-main {position:relative;
top:0;
left:0;
margin-right:240px;
padding:1.5em;
background-color:white;}
#introhelp {unicode-bidi: embed;
	direction: rtl;}

#footer { position: relative;
top: 0pt;
left: 0pt;
clear: both;
text-align:center;}

h1 { font-size: normal;
	text-align: center;
    font-weight: bold;}
h2 { font-size: normal;
	text-align: center;
    font-weight: bold;}
h3 { font-size: normal;
	text-align: center;
	font-weight:bold;}

li {unicode-bidi: embed; 
	direction: rtl;}
form {unicode-bidi:embed;
	direction:rtl;}
td {padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0.5em;	}
span.versenum {vertical-align: sup;
		font-size: smaller;
		padding-left:0.2em;
		padding-right:0.2em}
a:link {color: blue;text-decoration:none;}
a:visited {color: darkblue;text-decoration:none;}
a:hover {text-decoration: none; background-color: white; }
a.content-main:hover {background-color: lightgrey;} 

