body { font-family: "Tahoma", verdana, lucida, arial, helvetica, sans-serif; }

#header { position: relative;
	top: 0pt;
	left: 0pt;
	margin:0pt;
	visibility: visible;
	clear: both;
	padding:1em;}

#navlist {
        border-bottom: 1px solid #ccc;
        margin: -15px 0 0 0; 
        padding-bottom: 19px;
	padding-left:200px;
	}

#navlist ul, #navlist li {
        display: inline;
        list-style-type: none;
        margin: 0; 
        padding: 0}

#navlist a:link, #navlist a:visited {
        background: #E8EBF0;   
        border: 1px solid #ccc;
        color: #666;
        float:left;
        font-size: 1.0em;   
        font-weight: normal;
        line-height: 1.4em;
        margin-right: 8px;
        padding: 1px 5px 0px 5px;
        text-decoration: none;
	}



#navlist a:link#current, #navlist a:visited#current {
        background: #fff;
        border-bottom: 1px solid #fff;
        color: #000;
	}

#navlist a:hover { 
        color: #ff0000;
        background: #C5D6EA;
	}

#navlist li#skip {display:none;}


#printer { float: right;
	width: 200px;
	padding:1em;
	clear:both;
	}


#content-sub-1 { float: right;
	width: 200px;
	padding:1em;
	clear:both;
	}



#content-sub-2 { float: right;
	width: 200px;
	padding:1em;
	clear:both;
	}



#content-main {position:relative;
	top:0;
	left:0;
	margin-right:240px;
	padding:1.5em;
	border-right:1px solid #ccc;
	}


#footer { position: relative;
	top: 0pt;
	left: 0pt;
	clear: both;
	text-align:center;}

h1 { font-size: 2.5em;
	text-align: center;
	font-weight: bold;}

h2 { font-size: 1em;
	text-align: center;
	font-weight: bold;}

h3 { font-size: 1em;
	text-align: center;
	font-weight:bold;}



form { border:none;}



td {padding-left:0.5em;
	padding-right:0.5em;
	padding-bottom:0.5em;	}

span.versenum {vertical-align: top;
	font-size: 0.5em;
	padding-left:0.2em;
	padding-right:0.2em;}

.intro {
	border-bottom: 1px solid #ccc;
}

a:link {color: blue;
	text-decoration:none;}

a:visited {color: darkblue;}

a:hover {background-color: yellow;}
 
img {border:none;}

/*  RtoL stuff */

body.rtol #navlist   {unicode-bidi: embed;
	direction: rtl;
	padding-right: 200px}

body.rtol form {unicode-bidi: embed;
	direction: rtl;}

body.rtol h2 {unicode-bidi:embed;
	direction:rtl;
	text-align:right;}
body.rtol ul {unicode-bidi: embed;
	direction: rtl;}
body.rtol li {unicode-bidi: embed;
	direction: rtl;}
body.rtol div#introhelp {unicode-bidi:embed;
	direction: rtl;}

body.rtol #navlist a {float:right;}
body.rtol #printer   {unicode-bidi: embed;   
           direction: rtl;}
body.rtol #content-sub-1 {unicode-bidi: embed;   
           direction: rtl;}
body.rtol #content-sub-2 {unicode-bidi: embed;   
           direction: rtl;}
body.rtol #powersearch{unicode-bidi:embed;
	direction:rtl}
/* Farsi Stuff */




